{% extends "base.html" %}
{%block content%}
{% if user.is_authenticated %}


  {%if reviews%}
    <h1> Записи пользователей </h1>
      <table class="table table-striped table-hower">
    <thead class="table-dark">
      <tr>
        <th scope="col">Отзыв</th>
        <th scope="col">Фамилия, имя</th>
        <th scope="col">Дата оставления</th>
        <th scope="col">ID</th>
      </tr>
    </thead>
    <tbody>
      {%for review in reviews%}
      <tr>
        <th>{{review}}</th>
        <td>{{review.user_id.first_name}} {{review.user_id.last_name}}</td>
        <td>{{review.created_at}}</td>
        <td><a href="{%url 'record' review.id%}">{{review.user_id.id}}</a></td>
      </tr>
      {%endfor%}
    </tbody>
  </table>
  {%endif%}


  {% else %}
  <div class="col-md-6 offset-md-3">
  <h1> Войдите в аккаунт </h1>
  <br>
  <form method="POST" action={% url 'home' %}>
      {% csrf_token %}
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Логин</label>
      <input type="text" class="form-control" name="user_name", placeholder="Введите имя пользователя" required>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Пароль</label>
      <input type="password" class="form-control" name="password", placeholder="Введите пароль" required>
    </div>
    <br>
    <button type="submit" class="btn btn-secondary">Войти</button>
  </form>
  </div>
{% endif %}
{%endblock%}