{% extends "base.html" %}
{%block content%}
{% if user.is_authenticated %}
<h1> Hello World </h1>
{% else %}
<div class="col-md-6 offset-md-3">
<h1> Войдите в аккаунт </h1>
<br>
<form method="POST" action={% url 'home' %}>
    {% csrf_token %}
    <form>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Логин</label>
    <input type="text" class="form-control" name="user_name", placeholder="Введите имя пользователя" required>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Пароль</label>
    <input type="password" class="form-control" name="password", placeholder="Введите пароль" required>
  </div>
  <br>
  <button type="submit" class="btn btn-secondary">Войти</button>
</form>
</div>
{% endif %}
{%endblock%}